:root {
  --primary-color: #7b7294;
  --light-color: #ffffff;
  --dark-color: #dbd5d5;
  --danger-color: #e03939;
  --edit-color: #444886;
  --text-light-color: #fafafa;
  --text-link-color: #dad6e4;
  --danger-light-color: #c06c6c;

  --box-shadow: 0 10px 20px rgba(0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  --text-dark-color: #091d1c;
  --text-danger-color: #830e0e;
}
